Makefile
Makefile.in
*.o
.deps
/INSTALL
/aclocal.m4
/autom4te.cache
/compile
/config.log
/config.status
/configure
/data/com.canonical.SafeLauncher.service
/debian/autoreconf.after
/debian/autoreconf.before
/debian/debhelper-build-stamp
/debian/files
/debian/snapd-xdg-open.debhelper.log
/debian/snapd-xdg-open.substvars
/debian/snapd-xdg-open
/depcomp
/install-sh
/m4
/missing
/src/snapd-xdg-open
/src/xdg-open
