Source: snapd-xdg-open
Section: unknown
Priority: optional
Maintainer: Ubuntu Desktop Team <ubuntu-desktop@lists.ubuntu.com>
Build-Depends: debhelper (>=9),autotools-dev
Standards-Version: 3.9.6
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://anonscm.debian.org/collab-maint/snapd-xdg-open.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/snapd-xdg-open.git

Package: snapd-xdg-open
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
